In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-05-28 19:41:13,-0.7393,-90.3518,82.36,86,75,5.01
1,1,Rikitea,PF,2021-05-28 19:41:13,-23.1203,-134.9692,75.51,73,21,20.51
2,2,Jalu,LY,2021-05-28 19:41:13,29.0331,21.5482,90.01,17,9,7.07
3,3,Thompson,CA,2021-05-28 19:41:13,55.7435,-97.8558,64.56,20,75,21.85
4,4,Inta,RU,2021-05-28 19:41:14,66.0317,60.1659,44.53,69,100,7.92

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))



# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-05-28 19:41:13,-0.7393,-90.3518,82.36,86,75,5.01
1,1,Rikitea,PF,2021-05-28 19:41:13,-23.1203,-134.9692,75.51,73,21,20.51
9,9,Robertsport,LR,2021-05-28 19:41:15,6.7533,-11.3686,83.05,79,76,10.65
14,14,Kalmunai,LK,2021-05-28 19:41:17,7.4167,81.8167,81.00,79,93,6.31
21,21,Kavieng,PG,2021-05-28 19:41:19,-2.5744,150.7967,81.70,80,100,10.33
22,22,Tomigusuku,JP,2021-05-28 19:41:19,26.1850,127.6750,77.14,88,75,1.14
25,25,Mecca,SA,2021-05-28 19:40:27,21.4267,39.8261,89.65,40,81,1.63
29,29,Celestun,MX,2021-05-28 19:41:21,20.8667,-90.4000,87.48,62,4,13.00
30,30,Maumere,ID,2021-05-28 19:41:21,-8.6199,122.2111,77.16,80,14,4.92
42,42,Hilo,US,2021-05-28 19:39:00,19.7297,-155.0900,79.79,68,90,4.61

In [29]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [41]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0   Puerto Ayora      EC     82.36  -0.7393  -90.3518
1        Rikitea      PF     75.51 -23.1203 -134.9692
9    Robertsport      LR     83.05   6.7533  -11.3686
14      Kalmunai      LK     81.00   7.4167   81.8167
21       Kavieng      PG     81.70  -2.5744  150.7967
22    Tomigusuku      JP     77.14  26.1850  127.6750
25         Mecca      SA     89.65  21.4267   39.8261
29      Celestun      MX     87.48  20.8667  -90.4000
30       Maumere      ID     77.16  -8.6199  122.2111
42          Hilo      US     79.79  19.7297 -155.0900

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,Rikitea,PF,75.51,-23.1203,-134.9692,Pension Maro'i
9,Robertsport,LR,83.05,6.7533,-11.3686,Kwepunha Retreat
14,Kalmunai,LK,81.00,7.4167,81.8167,VS Villa
21,Kavieng,PG,81.70,-2.5744,150.7967,Nusa Island Retreat
22,Tomigusuku,JP,77.14,26.1850,127.6750,Hotel Gran View Okinawa
25,Mecca,SA,89.65,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
29,Celestun,MX,87.48,20.8667,-90.4000,Posada Lilia
30,Maumere,ID,77.16,-8.6199,122.2111,Sylvia Hotel
42,Hilo,US,79.79,19.7297,-155.0900,Hilo Hawaiian Hotel

In [47]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))